<span class="phasal-header__cart-icon">
  {% if cart == empty %}
    {{ 'icon-cart-empty.svg' | inline_asset_content }}
  {% else %}
    {{ 'icon-cart.svg' | inline_asset_content }}
  {% endif %}
</span>
<span>Cart</span>
<span class="phasal-header__cart-count" data-phasal-cart-count>{{ cart.item_count }}</span>
